@import "../Variables/colors";

.contact-area{
  .about-underline{
    .ul-light{
      height: 2px;
      background: $secondary-color-light;
    }
    .ul-dark{
      height: 5px;
      background: $primary-color;
    }
  }
  .contact-form-area{
    margin-top: 50px;
    .circle-buttons{
      .circle-button{
        width: 40px; /* Adjust the button size as needed */
        height: 40px;
        border-radius: 50px;
        margin-bottom: 10px; /* Adjust the margin between buttons as needed */
        padding: 0;
        background: $btn-light-green-background;
        color: $primary-color;
      }
    }
  }
}