$primary-color: #126dd0;
$text-light: #dee7ea;
$secondary-color: #404040;
$secondary-color-light: #d2d2d2;
$accent-color: #ffc107;

$primary-background-color: #d5e3f0;

$btn-light-green-background: #d7edff;

$footer-background-color: #eff3f6;