@import "../Variables/images";

.home-page{
  width: 100vw;
  height: 100vh;
  background-image: $home-background-image;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .photo-container {
    position: fixed;
    top: 20px;
    right: -100px;
    z-index: 999;
    animation: slide-in 1s ease-in-out;
  }

  .photo {
    width: 100vh;
    height: 100vh;
    //border-radius: 50%;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}